*.iml
.gradle
.kotlin
/local.properties
/keystore.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
/benchmark
*.png
app/src/main/jniLibs
.fresh
/.antigravitycli/1bccc0e6-dc2f-4ff3-b510-9a2ae3557f57.json
